.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to right, #5f1834 0%, red 100%);
}
.cat2{
    background-image: linear-gradient(to right, rgb(70, 87, 109) 0%, purple 100%);
}
.cat3{
    background-image: linear-gradient(to right, rgb(128, 26, 122) 0%, indianred 100%);
}
.catagories h1{
    color: #fff;
}
.catagories img{
    width: 100px;
}
.card {
    border: none;
    box-shadow : 5px 5px 10px lightgray;
}
.card-footer{
    padding: 20px 0;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}